:root {
  --bg-color: #fcfcfc;
  --text-color: black;
  --accent-color: rgb(69, 82, 149);
 

}


body {
  margin: 0;
  overflow-x: hidden;
  
  background: linear-gradient(
  160deg,
  rgba(0, 136, 255, 0.312) 0%,
  white 50%
);

  
  
  background-repeat: no-repeat;
}

#MainContainer{
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
}

h2{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


#Logo img{
  padding-left: 20px;
  width: 3rem;
  height: 3rem;
}

#TopBar{

  width: 100%;     /* make it span the full width */
  height: 100px;
  display: flex;
  align-items: center;        /* vertical centering */
  justify-content: space-between; /* items spread left ↔ right */
  width: 100%;

}

#Logo{
   display: flex;
   flex-direction: row; /* stack vertically */
   gap: 10px;
    align-items: center;        /* vertical centering */
}
#Logo h2{
  font-weight: 600;
  color: var(--accent-color);
  transition: all 0.5s ease;

}
#InnerBurger{
   display: flex;
   flex-direction: row; /* stack vertically */
   gap: 30px;
}

#InnerBurger h2{
   font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--accent-color);
  transition: all 0.5s ease;
  font-size: 1.3rem;

}
#InnerBurger h2:hover{

  font-weight: 600;

}

#sell{
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;        /* vertical centering */

}
#sell h3{
  width: 50%;
  text-align: center;
  
  margin: 2rem;
}
#sell p{
  width: 50%;
  text-align: center;
  
  margin: 2rem;
}
#screenshot{
  margin: 2rem;
  
  width: 60%;
  height: auto;
  padding: 0px;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(50, 125, 200, 0.4);
}

#sell p{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1.2rem;
  font-style: normal;
  color: var(--accent-color);

}

h3{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3.8rem;
  font-style: normal;
  color: var(--accent-color);
  transition: all 0.5s ease;
}




#button{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.3rem;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent-color);
  padding: 1rem;
  padding-left:4rem;
  padding-right:4rem;
  border-radius: 30px;
  transition: all 0.5s ease;
   box-shadow: 0px 0px 15px rgba(17, 126, 235, 0.4);
}
#button:hover{
  font-weight: 600;
   
    box-shadow: 0px 0px 30px rgba(17, 126, 235, 0.8);
   
 

}

#burger{
  display: none;
   
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 30px;
  padding-right: 2rem;
  font-style: normal;
  color: var(--accent-color);
  transition: all 0.5s ease;
}
#dropdown {
 
  
  display: hide;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    transform 0.2s ease;

    justify-content: space-between; /* items spread left ↔ right */
    padding-right: 30px;
    padding-left: 30px;
}

#dropdown.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}

#dropdown h2{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--accent-color);
  margin: 0px;
   transition: all 0.5s ease;

}

#showcase{
  position: relative;
  display: flex;
   align-items: center;  
   flex-direction: column; /* stack vertically */ 

}



#vid{
  margin-top: 50px;
  position: absolute;
  border-radius: 1rem;
  width: 40%;
  height: auto;
   box-shadow: 0px 0px 20px rgba(50, 125, 200, 0.4);
}



#space{
  height: 3rem;
}






#gridImprovemntContainer{
  display: flex;
  flex-direction: row;
   align-items: center;        /* vertical centering */
  justify-content: space-around; /* items spread left ↔ right */
  height: 500px;
  width: 100%;
  gap: 2rem;
}

#Sub-features{
  background-color: var(--accent-color);
  flex: 2;
  height: 100%;
  width: 100%;
   border-radius: 2rem;
  
  
}
#chunk{
  flex: 2;
  height: 100%;
 
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 
}

#chunk div{
  flex: 1;
  background-color: var(--bg-color);
  width: 100%;
  border: 3px solid rgba(136, 136, 136,0.2);
  border-radius: 2rem;
}



#Improvements{
  margin-left:12rem;
  margin-right:12rem;
}
#Improvements h3{
  width: 80%;
  font-weight: 500;
}

/* Phones (portrait) */
@media (max-width: 1000px) {
  html {
     #Improvements{
    margin-left:4rem;
    margin-right:4rem;
    }
    #Improvements h3{
      width: 100%;
      font-size: 3rem;
    }

  }

}







/* Terms and conditions */

#terms{
  background-color: black;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#terms h2{
   color: white;
   padding-left: 20px;
   font-size:1rem;
  

}

/* Phones (portrait) */
@media (max-width: 700px) {
  html {
  font-size: 13px; /* all 1rem = 18px now */
    }
    #sell h3{
  width: 80%;
    }
    #sell p{
       width: 80%;

    }

    #screenshot{

      width: 80%;
    
    }
    #InnerBurger{
      display: none;
    }
    #burger{
      display: flex;
    }
    #dropdown{
       display: flex;
    }

  #gridImprovemntContainer{
    flex-direction: column;
   
  }
  #Improvements{
  margin-left:1rem;
  margin-right:1rem;
}



    

    
  
    
}

@media (min-width: 701px) {
  html {
  font-size: 18px; /* all 1rem = 18px now */
    }
    #sell h3{
  width: 50%;
    }
    #sell p{
       width: 50%;

    }

    #screenshot{

      width: 60%;
    
    }
    #InnerBurger{
      display: flex;
    }
    #burger{
      display: none;
    }
    #dropdown{
       display: none;
    }

    
 
}
